
{% extends 'officer/officer_base.html' %}
{% load static %}
{% block content %}
 {% if message %}
         <script> alert("{{ message }}")</script>
     {% endif %}

<div  style="background-image: url({% static 'images/police1.jpg' %});height: 1000px;" data-stellar-background-ratio="0.5">


<br><br><br><br><br>&nbsp
     <div class="site-section">


        <h1 style="color: white">VIEW EVIDENCE</h1>
           <form class="col-md-12" method="post" >
                   {% csrf_token %}

        <div class="row mb-5">



            <div class="site-blocks-table">
              <table style="color:white;background-color: #0b0b0b" class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-dis"> NUMBER</th>
                     <th class="product-dis">LOCATION</th>
                      <th class="product-dis">TIME</th>
                     <th class="product-dis">DATE</th>
                      <th class="product-edit">Evidence </th>



                  </tr>
                </thead>
                <tbody>

                <p align="right">


                </p>


                <tr>
                 <td class="product-dis">
                   <h3 style="color:white">1</h3>
                    </td>
                                 <td class="product-dis">
                   <input style="width: 300px;height: 30px;" placeholder="{{ m.location1  }}" name="location1" type="text">
                    </td>

                     <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="text" placeholder="{{ m.time1 }}" type="text">
                    </td>


                    <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="text" placeholder="{{ m.date1 }}" type="text   ">
                    </td>

                    <td class="product-dis">
                     <textarea style="width: 300px;height: 30px;" name="evidence1" placeholder="{{ m.evidence1 }}" type="text"></textarea>
                    </td>



                    </tr>
                     <tr>
                 <td class="product-dis">
                   <h3 style="color:white">2</h3>
                    </td>
                                 <td class="product-dis">
                   <input style="width: 300px;height: 30px;" placeholder="{{m.location2 }}" type="text">
                    </td>

                     <td class="product-dis">
                     <input style="width: 300px;height: 30px;" placeholder="{{ m.time2 }}" type="text">
                    </td>


                    <td class="product-dis">
                     <input style="width: 300px;height: 30px;" placeholder="{{ m.date2 }}" type="text">
                    </td>

                    <td class="product-dis">
                     <textarea style="width: 300px;height: 30px;" placeholder="{{ m.evidence2 }}" type="text"></textarea>
                    </td>



                    </tr>
                     <tr>
                 <td class="product-dis">
                   <h3 style="color:white">3</h3>
                    </td>
                                 <td class="product-dis">
                   <input style="width: 300px;height: 30px;" name="location3" placeholder="{{ m.location3 }}" type="text">
                    </td>

                     <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="time3" placeholder="{{ m.time3 }}" type="text">
                    </td>


                    <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="date3" placeholder="{{ m.date3 }}" type="text">
                    </td>

                    <td class="product-dis">
                     <textarea style="width: 300px;height: 30px;" name="evidence3"  placeholder="{{ m.evidence3 }}" type="text"></textarea>
                    </td>



                    </tr>
                     <tr>
                 <td class="product-dis">
                   <h3 style="color:white">4</h3>
                    </td>
                                 <td class="product-dis">
                   <input style="width: 300px;height: 30px;" name="location4" placeholder="{{ m.location4 }}" type="text">
                    </td>

                     <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="time4" placeholder="{{ m.time4 }}" type="text">
                    </td>


                    <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="date4" placeholder="{{ m.date4 }}" type="text">
                    </td>

                    <td class="product-dis">
                     <textarea style="width: 300px;height: 30px;" name="evidence4" placeholder="{{ m.evidence4 }}" type="text"></textarea>
                    </td>



                    </tr>
                     <tr>
                 <td class="product-dis">
                   <h3 style="color:white">5</h3>
                    </td>
                                 <td class="product-dis">
                   <input style="width: 300px;height: 30px;" name="location5" placeholder="{{ m.location5 }}" type="text">
                    </td>

                     <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="time5" placeholder="{{ m.time5 }}"  type="text">
                    </td>


                    <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="date5" placeholder="{{ m.date5 }}" type="text">
                    </td>

                    <td class="product-dis">
                     <textarea style="width: 300px;height: 30px;" name="evidence5" placeholder="{{ m.evidence5 }}" type="text"></textarea>
                    </td>



                    </tr>
                     <tr>
                 <td class="product-dis">
                   <h3 style="color:white">6</h3>
                    </td>
                                 <td class="product-dis">
                   <input style="width: 300px;height: 30px;" name="location6" placeholder="{{ m.location6 }}" type="text">
                    </td>

                     <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="time6" placeholder="{{ time6 }}" type="text">
                    </td>


                    <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="date6" placeholder="{{ date6 }}" type="text">
                    </td>

                    <td class="product-dis">
                     <textarea style="width: 300px;height: 30px;" name="evidence6" placeholder="{{ m.evidence6 }}" type="text"></textarea>
                    </td>



                    </tr>


                </tbody>

              </table>
{#                 <button style="width: 50%;background-color: blue;" type="submit">submit</button>#}
            </div>
          </form>
        </div>



        </div>
      </div>
    </div>
  </div>


      </div>
    </div>

{% endblock %}