
{% extends 'police_staff/police_base.html' %}
{% load static %}
{% block content %}
 {% if message %}
         <script> alert("{{ message }}")</script>
     {% endif %}
<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/police1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
<br><br><br><br><br><br><br><br>&nbsp
    <section class="ftco-counter" id="section-counter">
        <div class="container-fluid">
            <div class="row d-flex">


                    <div class="row">
                  <div class="col-md-12 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center py-4 bg-light mb-4">
                      <div class="text">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="ion-ios-checkbox-outline"></span>
                        </div>

                        <strong class="number" data-number="{{ m }}"></strong>
                        <span>FIR REGISTERED</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center py-4 bg-light mb-4">
                      <div class="text">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-lawyer "></span>
                        </div>

                        <strong class="number" data-number="{{ criminal }}"></strong>
                        <span>CRIMINALS</span>

                      </div>
                    </div>
                  </div>


                </div>
            </div>
        </div>
    </section>
        </div>



      </div>
{% endblock %}