
{% extends 'police_staff/police_base.html' %}
{% load static %}
{% block content %}
 {% if message %}
         <script> alert("{{ message }}")</script>
     {% endif %}

<div  style="background-image: url({% static 'images/police1.jpg' %});height: 1000px;" data-stellar-background-ratio="0.5">


<br><br><br><br><br>&nbsp
     <div class="site-section">


        <h1 style="color: white">VIEW EVIDENCE</h1>
           <form class="col-md-12" method="post" >
                   {% csrf_token %}
      <label style="color: white;font-size: 150%">Enter date</label>
      <input type="text" name="date111" value="{{ m.date }}" placeholder="{{ m.date }}" required>
       <label style="color: white;font-size: 150%">Enter File name</label>
      <input type="text" name="filename" value="{{ m.filename }}" placeholder="{{ m.filename }}" required>
      <br>
      <label style="color: white;font-size: 150%">Enter File Number</label>
      <input type="number" name="filenumber" value="{{ m.filenumber }}" placeholder="{{ m.filenumber }}" required>
       <label style="color: white;font-size: 150%">Location</label>
      <input type="text" name="location" value="{{ m.location }}" placeholder="{{ m.location }}" required>
                 <input type="hidden" name="id" value="{{ m.id }}" placeholder="" required>
        <div class="row mb-5">



            <div class="site-blocks-table">
              <table style="color:white;background-color: #0b0b0b" class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-dis"> NUMBER</th>
                     <th class="product-dis">LOCATION</th>
                      <th class="product-dis">TIME</th>
                     <th class="product-dis">DATE</th>
                      <th class="product-edit">Evidence </th>



                  </tr>
                </thead>
                <tbody>

                <p align="right">


                </p>


                <tr>
                 <td class="product-dis">
                   <h3 style="color:white">1</h3>
                    </td>
                                 <td class="product-dis">
                   <input style="width: 300px;height: 30px;" value="{{ m.location1  }}" placeholder="{{ m.location1  }}" name="location1" type="text">
                    </td>

                     <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="time1" value="{{ m.time1 }}" placeholder="{{ m.time1 }}" type="time">
                    </td>


                    <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="date1" value="{{ m.date1 }}" placeholder="{{ m.date1 }}" type="date">
                    </td>

                    <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="evidence1" value="{{ m.evidence1 }}" placeholder="{{ m.evidence1 }}" type="text">
                    </td>



                    </tr>
                     <tr>
                 <td class="product-dis">
                   <h3 style="color:white">2</h3>
                    </td>
                                 <td class="product-dis">
                   <input style="width: 300px;height: 30px;" name="location2" value="{{m.location2 }}" placeholder="{{m.location2 }}" type="text">
                    </td>

                     <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="time2" value="{{ m.time2 }}" placeholder="{{ m.time2 }}" type="time">
                    </td>


                    <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="date2" value="{{ m.date2 }}" placeholder="{{ m.date2 }}" type="date">
                    </td>

                    <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="evidence2" value="{{ m.evidence2 }}"  placeholder="{{ m.evidence2 }}" type="text">
                    </td>



                    </tr>
                     <tr>
                 <td class="product-dis">
                   <h3 style="color:white">3</h3>
                    </td>
                                 <td class="product-dis">
                   <input style="width: 300px;height: 30px;" name="location3" value="{{ m.location3 }}" placeholder="{{ m.location3 }}" type="text">
                    </td>

                     <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="time3" value="{{ m.time3 }}" placeholder="{{ m.time3 }}" type="time">
                    </td>


                    <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="date3" value="{{ m.date3 }}" placeholder="{{ m.date3 }}" type="date">
                    </td>

                    <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="evidence3" value="{{ m.evidence3 }}"   placeholder="{{ m.evidence3 }}" type="text">
                    </td>



                    </tr>
                     <tr>
                 <td class="product-dis">
                   <h3 style="color:white">4</h3>
                    </td>
                                 <td class="product-dis">
                   <input style="width: 300px;height: 30px;" name="location4" value="{{ m.location4 }}" placeholder="{{ m.location4 }}" type="text">
                    </td>

                     <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="time4" value="{{ m.time4 }}" placeholder="{{ m.time4 }}" type="time">
                    </td>


                    <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="date4" value="{{ m.date4 }}" placeholder="{{ m.date4 }}" type="date">
                    </td>

                    <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="evidence4" value="{{ m.evidence4 }}"  placeholder="{{ m.evidence4 }}" type="text">
                    </td>



                    </tr>
                     <tr>
                 <td class="product-dis">
                   <h3 style="color:white">5</h3>
                    </td>
                                 <td class="product-dis">
                   <input style="width: 300px;height: 30px;" name="location5" value="{{ m.location5 }}" placeholder="{{ m.location5 }}" type="text">
                    </td>

                     <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="time5" value="{{ m.time5 }}" placeholder="{{ m.time5 }}"  type="time">
                    </td>


                    <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="date5" value="{{ m.date5 }}" placeholder="{{ m.date5 }}" type="date">
                    </td>

                    <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="evidence5" value="{{ m.evidence5 }}" placeholder="{{ m.evidence5 }}" type="text">
                    </td>



                    </tr>
                     <tr>
                 <td class="product-dis">
                   <h3 style="color:white">6</h3>
                    </td>
                                 <td class="product-dis">
                   <input style="width: 300px;height: 30px;" name="location6" value="{{ m.location6 }}" placeholder="{{ m.location6 }}" type="text">
                    </td>

                     <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="time6" value="{{ time6 }}" placeholder="{{ time6 }}" type="time">
                    </td>


                    <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="date6" value="{{ date6 }}" placeholder="{{ date6 }}" type="date">
                    </td>

                    <td class="product-dis">
                     <input style="width: 300px;height: 30px;" name="evidence6" value="{{ m.evidence6 }}" placeholder="{{ m.evidence6 }}" type="text">
                    </td>



                    </tr>


                </tbody>

              </table>
                 <button style="width: 50%;background-color: blue;" type="submit">submit</button>
            </div>
          </form>
        </div>



        </div>
      </div>
    </div>
  </div>


      </div>
    </div>

{% endblock %}