{% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}
 {% if message %}
         <script> alert("{{ message }}")</script>
     {% endif %}
<div class="hero-wrap js-fullheight"style="background-image: url({% static 'images/bg1.jpg' %});" data-stellar-background-ratio="0.5">


<br><br><br><br>&nbsp

     <div class="site-section">

      <div class="container">
        <h1 style="color: white">Criminal Lists</h1>
        <form action="" method="post">
            {% csrf_token %}
          <input width="500px" autocomplete="off" type="text" placeholder="Search by name of criminals" name="search">
          <button type="submit">Search</button>
        </form>

        <div class="row mb-5">
          <form class="col-md-12" method="post" >
            <div class="site-blocks-table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-namename">Image</th>
                  <th class="product-namename">Criminal Name</th>
                  <th class="product-namename">Address</th>
                  <th class="product-namename">Contact</th>
                  <th class="product-name">Age</th>
                    <th class="product-edit">Added Station</th>


                  </tr>
                </thead>
                <tbody>

                <p align="right">


                </p>
{% for c in cri %}
                <tr>
                 <td class="product-name">
                       <img style="width:270px;height:320px;" src="{{ c.image.url }}" alt="Image">
                    </td>

                    <td class="product-name">
                      <h2 style="color: white" class="h5 text-black">{{ c.name }}</h2>
                    </td>
                    <td class="product-name">
                      <h2 style="color: white" class="h5 text-black">{{ c.address }}</h2>
                    </td>
                    <td class="product-name">
                      <h2 style="color: white" class="h5 text-black">{{ c.contact }}</h2>
                    </td>
                    <td class="product-name">
                      <h2 style="color: white" class="h5 text-black">{{ c.age }}</h2>
                    </td>
                   <td class="product-name">
                      <h2 style="color: white" class="h5 text-black">{{ c.police.station.station_name }}</h2>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </form>
        </div>



        </div>
      </div>
    </div>

{% endblock %}