{% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}
 {% if message %}
         <script> alert("{{ message }}")</script>
     {% endif %}

<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg1.jpg' %});" data-stellar-background-ratio="0.5">

<br><br><br><br><br><br><br><br>&nbsp
     <div class="site-section">
      <div class="container">
        <h1 style="color:white">Station Lists</h1>
        <div class="row mb-5">
          <form class="col-md-12" method="post" >
            <div class="site-blocks-table">
              <table class="table table-bordered" style="color: white;border-color: black">
                <thead>
                  <tr>
                  <th class="product-category">Station Name</th>
                    <th class="product-edit">Edit</th>


                  </tr>
                </thead>
                <tbody>

                <p align="right">



                </p>
{% for pl in p %}
                    <td class="product-name">
                      <h2 style="color: white" type="" class="h5 text-black">{{ pl.station_name }}</h2>
                    </td>
                    <td class="product-name">
                     <a class ="btn btn-danger" id="cl" href="DeletePolice?ps_id={{ pl.id }}">DELETE
   </a>
                    </td>

                    </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </form>
        </div>



        </div>
      </div>
    </div>


{% endblock %}