
{% extends 'user/user_base.html' %}
{% load static %}
{% block content %}
 {% if message %}
         <script> alert("{{ message }}")</script>
     {% endif %}

<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/police1.jpg' %});" data-stellar-background-ratio="0.5">

      <div class="overlay"></div>
      <div class="container">
        <br><br><br><br><br><br><br><br><br><br>
          <section class="ftco-consultation">
        <div class="container-fluid">
            <div class="row d-md-flex">

                <div class="half p-3 p-md-5 ftco-animate">

                     <h1  style="color:white" >enter your feedback</h1>

                    <form action="" method="POST">
                        {% csrf_token %}
                <div class="form-group">
                  <input type="text" class="form-control" name="feed" required="" placeholder="feedback">
                </div>


                <div class="form-group">
                  <input type="submit" name="send" value="SEND" class="btn btn-primary">
                </div>
              </form>
                </div>
            </div>
        </div>
    </section>
      </div>
    </div>

{% endblock %}