
{% extends 'user/user_base.html' %}
{% load static %}
{% block content %}
 {% if message %}
         <script> alert("{{ message }}")</script>
     {% endif %}

<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/police1.jpg' %});"  data-stellar-background-ratio="0.5">

        <br><br><br><br>
          <br>
    <div class="site-section" id="blog-section">
      <div class="container">
        <h1 style="color: white">View Complaints</h1>
        <div class="row mb-5">
          <div class="col-12 text-center">


          </div>
        </div>



            <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <form class="container" method="post" >

              <div style="color: white;background-color: #0b0b0b">
              <table class="table table-bordered" align="center">
                <thead >
                  <tr>

                    <th class="product-dis"> NAME</th>
                     <th class="product-dis">LOCATION</th>
                      <th class="product-dis">TIME</th>
                     <th class="product-dis">DATE</th>
                      <th class="product-dis">COMPLAINT</th>
                   <th class="product-dis">STATUS</th>
                   <th class="product-dis">Add Evidence</th>

                  </tr>
                </thead>
                <tbody>
{% for m in m %}
                 <tr>

                    <td class="product-dis">

                      <h2 style="color: white" class="h5 text-white">{{ m.user.login.first_name}}</h2>
                    </td>

                     <td class="product-dis">
                      <h2 style="color: white"  class="h5 text-white">{{ m.location}}</h2>
                    </td>


                    <td class="product-dis">
                      <h2 style="color: white"  class="h5 text-white">{{ m.timee}}</h2>
                    </td>

                    <td class="product-dis">
                      <h2 style="color: white"  class="h5 text-white">{{ m.c_date }}</h2>
                    </td>
                    <td class="product-dis">
                      <h2 style="color: white"  class="h5 text-white">{{ m.complaint }}</h2>
                    </td>

                     <td class="product-dis">
                      <h2 style="color: white"  class="h5 text-white">{{ m.status }}</h2>
                    </td>
                          <td><a href="add_evidence?id={{m.id}}" class=" btn btn-success">Add Evidence</a></td>

                    </td>




                 {% endfor %}

                </tbody>
              </table>
            </div>
          </form>
        </div>

        </div>

      </div>
    </div>
</div>




    </div>


        </div>
      </div>
    </div>


      </div>
    </div>




{% endblock %}