


{% extends 'user/user_base.html' %}
{% load static %}
{% block content %}
 {% if message %}
         <script> alert("{{ message }}")</script>
     {% endif %}


<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/police1.jpg' %});"  data-stellar-background-ratio="0.5">

<br><br><br><br><br>&nbsp
     <div class="site-section">

      <div class="container">
        <h1 style="color: white">Beware Of Criminals</h1>
        <div class="row mb-5">
          <form class="col-md-12" method="post" >
            <div class="site-blocks-table">
              <table style="background-color: #0b0b0b" class="table table-bordered">
                <thead>
                  <tr>
                    <th style="color: white"  class="product-namename">Image</th>
                  <th style="color: white" class="product-namename">Criminal Name</th>




                  </tr>
                </thead>
                <tbody>

                <p align="right">


                </p>

                {% for c in cri %}
                <tr>
                 <td class="product-name">
                       <img style="width:220px;height:320px;" src="{{ c.image.url }}" alt="Image">
                    </td>

                    <td class="product-name">
                      <h2 style="color: white" class="h5 text-black">{{ c.name }}</h2>
                    </td>


                    </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </form>
        </div>



        </div>
      </div>
    </div>

{% endblock %}